[Unit]
Description=Multi-interface SOCKS5 and HTTP Proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=wwan-proxy
Group=wwan-proxy
UMask=0077
StateDirectory=wwan-proxy
StateDirectoryMode=0750
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
NoNewPrivileges=true
ExecStart=/usr/local/bin/wwan-proxy -db /var/lib/wwan-proxy/wwan-proxy.db
Restart=on-failure
RestartSec=2s
LimitNOFILE=65536
LimitNPROC=infinity
TasksMax=infinity
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
